.homepage {
	width: 100vw;
	padding: 1rem 1rem;
	background-color: var(--background-light);
}

.main-content {
	max-width: 80rem;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media (min-width: 1024px) {
	.main-content {
		grid-template-columns: 2fr 1fr;
	}

	.main-content.no-sidebar {
		grid-template-columns: 1fr;
	}
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--border-light);
}

.section-title {
	font-size: 1.5rem;
	font-family: var(--font-display);
	font-weight: bold;
	color: var(--primary);
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
