@import '../styles/variables.css';

.header {
	width: 100%;
	border-bottom: 1px solid var(--border-light);
	background-color: var(--background-light);
	position: sticky;
	top: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	height: 5rem;
	padding: 0 1rem;
}

.header.blank-header {
	justify-content: flex-start;
	padding-left: 5rem;
}

.header-content {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	width: 100%;
}

@media (max-width: 768px) {
	.header-left,
	.header-center {
		display: none;
	}
}
