.custom-list {
	padding: 0;
	margin: 1rem 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.custom-list-item {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	font-family: var(--font-body);
	color: var(--text-main-light);
}
