.auth-page-layout {
	display: grid;
	place-items: center;
	min-height: 80vh;
}

.login-card {
	max-width: 28rem;
	width: 90%;
	margin: 2rem;
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
	padding: 2.5rem;
}

@media (min-width: 640px) {
	.login-container {
		padding: 2.5rem;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
