@import '../../variables.css';

.form-footer {
	margin-top: 2rem;
	text-align: center;
}

.form-footer p {
	font-size: 0.875rem;
	color: #374151;
}

.form-footer a {
	font-weight: 600;
	color: var(--primary);
	text-decoration: none;
	transition: color 0.2s;
}

.form-footer a:hover {
	color: var(--secondary);
}
