@import '../../../styles/variables.css';

.profile-picture-wrapper {
	position: relative;
	flex-shrink: 0;
	margin: 0 auto;

	@media (min-width: 768px) {
		margin: 0;
	}
}

.profile-image,
.profile-image-placeholder {
	width: 144px;
	height: 144px;
	border-radius: var(--radius-full);
	border: 4px solid white;
	box-shadow: var(--shadow-md);
	object-fit: cover;
}

.profile-image-placeholder {
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6b7280;
	font-size: 3rem;
}

.profile-edit-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	border: 2px solid white;
	border-radius: var(--radius-full);
}
