@import '../variables.css';

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 25%;
	gap: 1rem;
}

@media (max-width: 768px) {
	.header-right {
		width: 100%;
	}
}
